---
title: welcome
---
#page
  #content
  .homepage_content
    %img(src="/images/georgia_with_sons.jpg")
  .time= Time.now
  .toc
    .list_title who's here
    %ul#who_list
      %li
        %a(href="/brandon/") Brandon Faloona
      %li
        %a(href="grf/default.htm") Gerald Raymond Faloona
        %br April 7, 1940 - July 27, 2000
      %li 
        %a(href="rjf/Home.html") Ronald James Faloona  
        %br 1938 - 2010
      %li
        %a(href="http://freddifred.com/") Freddi Fredrickson
  .site_title faloona.net
